<% layout('layouts/boilerplate') %>

    <div id="cluster-map"> </div>

    <h1>All Campgrounds</h1>


    <ul>
        <% for(let complaint of complaints) {%>
            <div class="card  mb-3">
                <div class="row">
                    
                    

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= complaint.name%>
                            </h5>


                            <p class="card-text">
                                <%= complaint.complaint %>
                            </p>
                          
                            <a class="btn btn-primary" href="/campgrounds/<%=complaint._id%>">View
                                <%=complaint.email%>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
    </ul>

   

    <script src="/javascripts/clusterMap.js"></script>